/* 重置css样式 */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* font-family: "黑体"; */
}

/* @font-face {
  font-family: "黑体";
  src: url("https://arrive-lee.github.io/font/dingding.woff2") format('truetype');
} */

@font-face {
  font-family: 'iconfont';
  src: url('./assets/font/iconfont.ttf') format('truetype');
}

@font-face {
  font-family: 'iconfont1';
  src: url('./assets/font/iconfont1.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont_1 {
  font-family: "iconfont1" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  width: 6px;
  /* background-color: rgba(204, 204, 204, 0.1); */
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(204, 204, 204, 1);
}

.scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87vw;
  overflow: auto;
  padding-top: 10px;
  scroll-behavior: smooth;
}

.common-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87vw;
  padding-top: 10px;
  scroll-behavior: smooth;
}